
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Inter", sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    background-color: black;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.h1{
    text-align: center;
    margin-top: 114px;
    font-size: 88px;
    font-weight: 500;
}
.card{
    max-width: 400px;
}
.card img{
    max-width: 400px;
    border-radius: 20px;
    height: 230px;
    min-width: 400px;
}
.kartochki{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 100px auto;
    justify-content: center;
    gap: 60px;
}
.card h2{
    text-align: center;
    margin-top: 30px;
}
.card p{
    text-align: center;
}
footer{
    background-color: black;
}